/* CSS files add styling rules to your content */

.topbar{
  background-color: #09A7A1;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.topbar .logo{
  display: flex;
  align-self: flex-start;
  float: left;
  margin-left: 20px;
}

.name{
  margin-left: 10px;
  font-size: 35px;
  font-weight: 800;
  align-self: center;
}

.nav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
/*   margin-right: 5px; */
}

main{
  position: relative;
  font-size: 22px;
  font-family: 'Merriweather', serif;
  max-width: 80%;
  margin: 50px auto 150px;
}

.mainfig {
  display: inline-block;
  margin-bottom: 50px;
}

.mainfig .fig2, .fig1{
  width: 500px;
  margin-left: -110px;
}

iframe {
  margin-left: -110px;
  width: 500px;
}

form {
  margin: 10% 5% 25%;
  font-size: 20px;
  max-width: 50%;
  position: relative;
}

label{
  margin: 10px 2% 10px 20%;
  font-weight: 800;
  width: 300px;
}

input{
  width: 300px;
  margin: 10px 2% 10px 20%;
  margin-bottom: 20px;
  padding: 10px;
  border: outset 2px teal;
  border-radius: 5px;
}

textarea {
  margin: 10px 2% 30px 20%;
  border: outset 2px teal;
  border-radius: 5px;
  width: 25em;
}

button {
  background-color: teal; /* Navy-blue */
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  left: 20%;
  border-radius: 5px;
}

.error{
  font-size: 12px;
  color: red;
  margin-top: 20px;
  margin-bottom: -15px;
  margin-right: 0;
}